<footer>
            <!-- Footer Section -->
        <div class="footer">
            <div class="footer-inner">

                <!-- Left: Logo + Subscribe -->
                <div class="footer-left">
                    <div class="footer-logo">
                        <img src="/Utils/logo.png" style="width: 100px;" alt="Mind Ease Logo">
                        <span>Mind Ease</span>
                    </div>
                    <div class="subscribe-box">
                        <label for="email">Subscribe Now</label>
                        <input type="email" id="email" placeholder="Enter your Email">
                        <button class="btn-subscribe">Subscribe</button>
                    </div>
                </div>

                <!-- Center: Social + Copyright -->
                <div class="footer-center">
                    <div class="social-icons">
                        <a href="#"><img src="/Utils/insta.png" style="width: 35px; height: 35px;" alt="Instagram"></a>
                        <a href="#"><img src="/Utils/twt.png" style="width: 35px; height: 35px;" alt="Twitter"></a>
                        <a href="#"><img src="/Utils/phone.png" style="width: 35px; height: 35px;" alt="Phone"></a>
                        <a href="#"><img src="/Utils/mail.png" style="width: 35px; height: 35px;" alt="Email"></a>
                        <a href="#"><img src="/Utils/loc.png" style="width: 35px; height: 35px;" alt="Location"></a>
                    </div>
                    <p>Copyright @ 2020 MCStartup</p>
                    <p>All rights reserved Developed by S Dutta</p>
                </div>

                <!-- Right: Links -->
                <div class="footer-right">
                    <a href="#">Private Policy</a><br>
                    <a href="#">Terms & Conditions</a>
                </div>

            </div>
        </div>
</footer>