<!-- includes/navbar.ejs -->
<nav>
    <header class="navbar">
        <div class="logo">
            <img src="" alt="MindEase Logo">
            <h2>Mind Ease</h2>
        </div>
        <div>
            <ul class="nav-links">
                <li><a href="#booking" class="btn">Booking</a></li>
                <li><a href="#community" class="btn">Community</a></li>
                <li><a href="#games" class="btn">Games & Activities</a></li>
                <li><a href="http://localhost:8080/user/68ca78059bbd022ba80061eb" class="btn login">LOGIN</a></li>
            </ul>
        </div>
    </header>
</nav>