<%- layout('layouts/boilerplate') %>
<div class="game">
    <div class="game-top">
        <h2>ACTIVITY CENTER</h2>
        <h4>Now we will fresh our mind by doing some interesting activities</h4>
    </div>
    <div class="game-cards">
        <div class="game-card" style="background: linear-gradient(135deg, #FFEEE8, #D6BAB1, #C4A094);">
            <div class="game-info">
                <h3 style="color: #74090B;">Mythology</h3>
                <p>a collection of traditional stories that explain the origins, beliefs, and values of a culture. It often uses gods, heroes, and symbolic tales to convey moral lessons and human experiences.</p>
            </div>
            <img src="/Utils/g1.jpg" alt="">
        </div>
        <div class="game-card" style="background: linear-gradient(135deg, #DDADE500, #D6B1D470, #BF94C4A3);">
            <div class="game-info">
                <h3 style="color: #761476;">Meditation</h3>
                <p>a mindful practice that helps quiet the mind and reduce stress. It promotes self-awareness, emotional balance, and inner peace.</p>
            </div>
            <img src="/Utils/g2.png" alt="">
        </div>
        <div class="game-card" style="background: linear-gradient(135deg, #E8FFE9, #B2D6B1, #94C49F);">
            <div class="game-info">
                <h3 style="color: #034412;">Yoga</h3>
                <p>a holistic practice that unites body, mind, and spirit through postures, breath, and meditation. It enhances flexibility, strength, and inner balance for overall well-being.</p>
            </div>
            <img src="/Utils/g3.png" alt="">
        </div>
        <div class="game-card" style="background: linear-gradient(135deg, #E8FDFF, #B1D0D6, #94B9C4);">
            <div class="game-info">
                <h3 style="color: #070344;">Music Therapy</h3>
                <p>uses the healing power of music to improve emotional, mental, and physical well-being</p>
            </div>
            <img src="/Utils/g4.png" alt="">
        </div>
        <div class="game-card" style="background: linear-gradient(135deg, #E8FDFF, #B1D0D6, #94B9C4);">
            <div class="game-info">
                <h3 style="color: #0D5D69;">Breathing Exercise</h3>
                <p>simple techniques that focus on controlled inhalation and exhalation to calm the mind, focusing on slow, deep breaths.</p>
            </div>
            <img src="/Utils/g5.png" alt="">
        </div>
        <div class="game-card" style="background: linear-gradient(135deg, #FFF8E8, #D6C8B1, #C4B594);">
            <div class="game-info">
                <h3 style="color: #8F5415;">Interactive Journaling</h3>
                <p>a guided writing practice that helps individuals explore their thoughts and emotions. It promotes self-awareness, problem-solving, and positive behavioral change.</p>
            </div>
            <img src="/Utils/g6.png" alt="">
        </div>
        <div class="game-card" style="background: linear-gradient(135deg, #FDFFE8, #D3D6B1, #C4C394);">
            <div class="game-info">
                <h3 style="color: #877617;">Colour & Design</h3>
                <p>a calming activity that encourages focus and mindfulness. It helps reduce stress while fostering creativity and inner peace.</p>
            </div>
            <img src="/Utils/g7.png" alt="">
        </div>
        <div class="game-card" style="background: linear-gradient(135deg, #FFE8E8, #D6B1B2, #C49495);">
            <div class="game-info">
                <h3 style="color: #7A262D;">Puzzles</h3>
                <p>brain-stimulating activities that challenge problem-solving and logical thinking. They enhance memory, concentration, and cognitive skills while providing fun and relaxation.</p>
            </div>
            <img src="/Utils/g8.png" alt="">
        </div>
    </div>
</div>